.player {
  margin: 15px 0;
  background-color: #C0C0C0;
  width: 100%;
  height: 50px;
  position: relative;
}

 .controls {
  float: left;
  position: relative;
} 

.controls > a {
  text-decoration: none;
  height: 50px;
  width: 60px;
  box-sizing: border-box;
  text-align: center;
  margin-top: -18px;
  padding-left: 2px;
  float: right;
  color: black;
  cursor: pointer;
}

.controls > a:hover {
  opacity: 0.7;
}

.progress {
  position: absolute;
  left: 102px;
  top: 15px;
  right: 100px;
  bottom: 15px;
  background: black;
  cursor: pointer;
}

.progress > .bar {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

.progress > .bar > div {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  background: white;
}

.time {
  position: absolute;
  right: 0;
  width: 100px;
  color: white;
  font-size: 12px;
  padding-top: 17px;
  text-align: center;
}
